@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansBlack.woff2') format('woff2'),
        url('AceSansBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Black Oblique';
    src: url('AceSansBlackOblique.woff2') format('woff2'),
        url('AceSansBlackOblique.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansBold.woff2') format('woff2'),
        url('AceSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansExtrabold.woff2') format('woff2'),
        url('AceSansExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Bold Oblique';
    src: url('AceSansBoldOblique.woff2') format('woff2'),
        url('AceSansBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Extrabold Oblique';
    src: url('AceSansExtraboldOblique.woff2') format('woff2'),
        url('AceSansExtraboldOblique.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansExtralight.woff2') format('woff2'),
        url('AceSansExtralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansLight.woff2') format('woff2'),
        url('AceSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansMedium.woff2') format('woff2'),
        url('AceSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Light Oblique';
    src: url('AceSansLightOblique.woff2') format('woff2'),
        url('AceSansLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Extralight Oblique';
    src: url('AceSansExtralightOblique.woff2') format('woff2'),
        url('AceSansExtralightOblique.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Thin Oblique';
    src: url('AceSansThinOblique.woff2') format('woff2'),
        url('AceSansThinOblique.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Oblique';
    src: url('AceSansOblique.woff2') format('woff2'),
        url('AceSansOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansThin.woff2') format('woff2'),
        url('AceSansThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans Medium Oblique';
    src: url('AceSansMediumOblique.woff2') format('woff2'),
        url('AceSansMediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ace Sans';
    src: url('AceSansRegular.woff2') format('woff2'),
        url('AceSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('HelveticaNeueLTStd-Th.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtEx.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThCn.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLt.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtCnO.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThEx.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThEx.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-UltLtExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-UltLtExO.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThExO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThExO.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('HelveticaNeueLTStd-ThCnO.woff2') format('woff2'),
        url('HelveticaNeueLTStd-ThCnO.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

